body {
    margin: 0;
      
}
h1{
    font-size: 50px
}

.main_header {
    background-color: #96E6E6;
    color: black;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;

}

.main_header p {
    font-weight: bold;
}
.main_header nav ul {
    list-style-type: none
    margin
}
.main_header nav li {
    display: inline-block;
    
}
.main_header nav a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 1rem;
    
}

.main_footer {
    background-color:#96E6E6 ;
    color:black;
    text-align: center;
    padding: 1rem;
}

.content_wrapper {
    margin: 1rem 2rem;
}

.image_wrapper {
    text-align: center;
}

 /* Se adapta la imagen al ancho máximo de la pantalla */
img {
    max-width: 100%;
}

p {
    text-align: justify;
}

figure {
    margin: 0;
}

pre {
    font-family: inherit;
}

blockquote {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    max-width: 60%;
    margin: 20px;
    padding: 20px;
    border-left:3px solid black;
}

blockquote footer {
    margin-top: 0.5rem;
    border-top: 1px solid black;
    padding-top: 0.3;
    max-width: fit-content;
}

/* 
li {
    list-style-type: disc;
}
 */

 dt, dd {
     display: inline-block;
 }
 .main_footer {
     margin-bottom: 
 }
 .verde {
     color : green;
     font-weight: bold;
 }
 strong{
     font-weight: normal;
 }
 h3{
     font-size: 30px;
     color: #09351A;
    border: solid 2px gray;
 span{
     color: #7FF80C;
 }
 .center{
     text-align: center;
 }
 abbr[title] {
    text-decoration: none;
}